header {
    background-color: #333;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li a {
    margin: 0rem 10rem;
    color: #ccc;
    font-size: 1.2rem;
    text-decoration: none;
}

header nav ul li a:hover {
    border-bottom: 1px solid aliceblue;
}

.produtos {
    margin: 2%;
}

.produtos__lista {
    display: flex;
    justify-content:space-around; /*ESPACAMENTO ENTRE ITEMS*/
    flex-wrap: wrap; /*QUEBRA DE LINHA NO LIMITE*/
    list-style-type: none; /*TIRA BOLINHA DA LISTA*/
}

.produtos__lista__item {
    flex: 0 1 calc(30% - 20px);
    max-width: 20rem;
    border: 1px solid #CCC;
    padding: 0.5rem;
    margin-bottom: 2%;
    margin-right: 2%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

img {
    width: 100%;
}

.produtos__lista__item__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos__lista__item__conteudo__informacoes {
    text-align: center;
}

.produtos__lista__item__conteudo__informacoes h4 {
    font-size: 1.5rem;
}

.produtos__lista__item__conteudo__informacoes s {
    font-size: 1rem;
    color: red;
    margin-left: 0.5rem;
}

.produtos__lista__item__conteudo__informacoes p {
    font-weight: bold;   
}

footer {
    background-color: #333;
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem 0;
    color: #ccc;
}

footer p {
    margin: 0;
}